@import "../../styles/typography.scss";
@import "../../styles/themeColors.scss";

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text-input {
    position: relative;
    margin: 12px 0;

    &__input {
      width: 350px;
      height: 60px;
      border-radius: 6px;
      font-size: 18px;
      padding: 0 15px;
      border: 2px solid $border-color;
      background: transparent;

      color: $content-color;
      font-weight: 500;
      font-size: 14px;
      outline: none;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        color: $content-secondary-color;
        font-weight: 600;
        font-size: 14px;
      }

      &:focus {
        border: 2px solid $primary-color;
      }
    }

    &__label {
      @include rubik($font-weight: 500, $font-size: 13px);
      position: absolute;
      transform: translateY(-50%);
      pointer-events: none;
      transition: 0.3s;
      top: 0;
      left: 15px;
      padding: 0 2px;
      color: $primary-color;
      background: $bg-color;
      opacity: 1;
    }
  }
}
