$primary-color: #6c25ff;
$secondary-color: #6c25ff4b;
$disabled-color: #cbcbcb;
$error-color: #dd4a3d;

$border-color: #cbcbcb;
$bg-color: #f7f8f9;

$content-color: #1d2226;
$content-secondary-color: #919191;
