@import "../../styles/typography.scss";
@import "../../styles/themeColors.scss";

.typography {
  display: flex;
  flex-direction: column;

  &__heading {
    @include rubik();
    color: $content-color;
    margin: 12px 0;

    &--h1 {
      @include rubik(28px, 500, normal, normal, 0px, 17px);
      line-height: 36px;
    }

    &--h2 {
      @include rubik(24px, 500, normal, normal, 0px, 17px);
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      line-height: 20px;
    }

    &--h3 {
      @include rubik(18px, 500, normal, normal, 0px, 17px);
      line-height: 12px;
    }

    &--h4 {
      @include rubik(16px, 400, normal, normal, 0px, 17px);
      line-height: 6px;
    }
  }

  &__subheading {
    max-width: 232px;
    color: $content-color;
    @include rubik(18px, $line-height: 24px);
    opacity: 0.6;
    margin: 6px 0;
  }

  &__paragraph {
    @include rubik(18px, $line-height: 24px);
    margin: 6px 0;
  }
}
